body{
    margin: 0;
    padding: 0;
}
header{
    background-color: grey;
    height:45px;

    padding-top: 1px;
}
#menu{
    margin: auto 476px;


}
#menu li{
    display: inline-block;
    padding: 11px 14px;
    color: white;
}
#main .pics{
    position: absolute;
    left: 515px;
    top: 157px;
    font-size: 43px;
}

#main{
    left:30px;
    top:40px;
    height:467px;
    background:url("a1.jpg") center;
}

#round{
    padding-top: 110px;
    padding-left: 176px;
}
#round .img2{
    border-radius: 100%;
    height: 256px;
    width: 256px;
    z-index: 100;
    float: left;
}
#main .anniu{

    height: 80px;
    width:300px;
    margin-left: 517px;
    margin-top: 169px;
    font-size: 32px;
    border-radius: 10px;
    line-height: 80px;

    background:url("a2.jpg") center;
}
#main .chen{
    width: 600px;
    height: 250px;
    margin-left: 500px;
    margin-top: -199px;
}
#center{
    height: 695px;
    background:url("a3.jpg") center;
}
#center .cf{
    margin-top: -22px;
    padding-top: 97px;

}
#center .pic{
    margin-left: 116px;
}

#center .pic li{
    height: 258px;
    width: 288px;
    display: inline-block;
    margin: 8px 24px;
}
#center .pic li i{
    margin-top: 44px;
    margin-left: 114px;
    color: #FF0080;
}
#center .pic .pf{
    height: 100px;
width: 187px;
    margin-top:30px;
    margin-left: 51px;
}
#center .anniu1{
        height: 64px;
        width: 368px;
        margin-left: 481px;
        margin-top: 82px;
        line-height: 64px;
        font-size: 23px;
        border-radius: 10px;
        color:green;
    background-color:#FFBD9D;
}

#after{
    height:1215px;
    background-color:#F3F3FA;
}
#after .zhuan{
    height:50px;
    line-height: 50px;
    width:350px;
    margin-left: 430px;
    color:red;
    margin-top: 3px;
    padding-top: 80px;

}
#after .zhuanji{
    margin-left: 138px;
    margin-top: 135px;
}

#after .zhuanji li{
    height: 321px;
    width: 296px;
    display: inline-block;
    margin: 3px 15px;
    background-color: red;
    /*padding: 0 20px;*/
}
#after  img{
    height:321px;
    width: 296px;
}

#after .zhuanji2{
    margin-left: 138px;
    margin-top: -16px;
}
#after .zhuanji2 li{
    height: 321px;
    width: 296px;
    display: inline-block;
    margin: 33px 15px;
    background-color: blue;
    /*padding: 0 20px;*/
}
#after .anniu3{
    height: 64px;
    width: 288px;
    margin-left: 521px;
    margin-top: 67px;
    line-height: 64px;
    font-size: 23px;
    border-radius:10px;
    color: green;
    background:url("a2.jpg") center;
}

#bottom{
    margin-top: -20px;
    height:1128px;
    background-color: #7B7B7B;
}
#bottom .f1{
    margin-left: 406px;
    color: white;
    padding-top: 99px;
    clear: both;
}
#bottom .line1{
    float: left;
    height: 8px;
    width: 315px;
    background-color: 	#4F4F4F;
    margin-top: 22px;
    margin-left: 341px;
    border-radius:10px;
}
#bottom .line2{
        float: right;
        height: 8px;
        width: 315px;
        background-color: 	#4F4F4F;
        margin-top: 22px;
        margin-right: 294px;
        border-radius: 10px;
        clear: right;
}
#bottom .line3{
    float: left;
    height: 43px;
    width: 284px;
    background-color: 	#4F4F4F;
    margin-top: 13px;
    margin-left: 372px;
    border-radius: 10px;
    line-height: 43px;
    color:	#9D9D9D;
    clear: left;
}
#bottom .line4{
    float: right;
        height: 43px;
        width: 284px;
        background-color: #4F4F4F;
        margin-top: 14px;
        margin-right: 326px;
        border-radius: 10px;
        line-height: 43px;
        color: #9D9D9D;
        clear: right;

}
#bottom .line5{
    height: 43px;
    width: 593px;
    background-color: #4F4F4F;
    margin-top: 130px;
    margin-left: 370px;
    border-radius: 10px;
    line-height: 43px;
    color: #9D9D9D;

}
#bottom .line6{
    height: 195px;
    width: 593px;
    background-color: #4F4F4F;
    margin-top: 20px;
    margin-left: 370px;
    border-radius: 10px;
    line-height: 43px;
    color: #9D9D9D;
    clear: both;

}
#bottom .line7{
    height: 51px;
    width: 163px;
    background-color: 	#0072E3;
    margin-top: 43px;
    margin-left: 505px;
    border-radius: 10px;
    line-height: 51px;
    color:white;
    clear: both;

}
#bottom .line8{
    height: 51px;
    width: 145px;
    background-color: #3C3C3C;
    margin-top: -51px;
    margin-left: 683px;
    border-radius: 10px;
    line-height: 51px;
    color: white;
}
#bottom .hr{
    width: 634px;
    margin-top: 69px;
}
#bottom .find{
    margin-top: 89px;
    padding-left: 621px;
    color: white;
}
#bottom .seven{
margin-left:481px;
}
#bottom .seven li{
    display: inline-block;
    margin-left: 10px;
}
#bottom .hr1{
    width: 634px;
    margin-top: 63px;
}
#bottom .end{
    font-size: 12px;
        margin-left: 595px;
        margin-top: 40px;
}
